body {
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
}

.main-container{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background: white;
    margin: 40px auto;
}

.about-me-profession {
    font-weight: 700;
    font-size: 14px;
    color: black;
}

.about-me {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.projects {
    
}

.work-experience {

} 

.education {

}

.sidebar {
    background: #1E2939;
    width: 370px;
    padding: 40px 0;
}

.logo{
    width: 370px;
}

.tech-skills-section,
.soft-skills,
.contact-section{
    margin: 50px 0 0 40px;
}
.sidebar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: white;
    margin-bottom: 10px;
}

/* contacts section*/
.contact-section-type{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: white;
    margin-right: 5px;

}
.contact-section-link{
    color: #48515E;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.tech-skills-list{
    padding: 0 0 0 17px;
}
.tech-skills-item{
    color: #FB6D3A;
}
.tech-skills-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: white;
}